@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:Outfit;
}
body{
    background-color: #BAACAE;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:99;
    background-color:#E00811;
}
.nav{
    max-width: 1200px;
    height:50px;
    margin:auto;
    display:flex;
align-items: center;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    color:white;
    font-size:1.1rem;
    font-weight:400;
    text-transform: uppercase;
}
.box{
    color:white;
    width:30px;
    height:30px;
    text-align:center;
    position:relative;
}
.cart-count{
    position:absolute;
    top:-8px;
    right:0;
    width:20px;
    background-color: black;
    padding:4px;
    height:20px;
    border-radius: 50%;
    line-height: 20px;
    z-index:99;

}
.fa-cart-shopping{
    font-size: 1.5rem;
    cursor:pointer;
    padding-top: 10px;
}


img{
    width:100%;
}
.container{
    max-width: 1200px;
    padding:4rem;
    margin: auto;
    width: 100%;
    
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap:1.8rem;
    justify-content: center;
    align-items: center;
}
h2.title{
    font-size: 1.3rem;
    font-weight: 400;
    color:white;
    margin-bottom: 1.5rem;
}
.shop-box{
    background-color: #BAACAE;
    padding:10px;
    box-shadow:5px 5px 10px white;
    border-radius: 5px;
    position: relative;
}
.picture{
overflow: hidden;
}
.picture:hover img{
    transform: scale(1.5);
}
.image-box{
    transition: 0.2s;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.img-title{
    font-size:1rem;
    font-weight:400;
    color:whitesmoke;
}
.price{
    font-weight:500;
}
#icon{
    position: absolute;
    bottom:0;
    right:0;

    background-color: #BAACAE;
    color:white;
    padding:10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
#icon:hover{
    background-color:black;
}

/*cart*/

.cart{
    position: fixed;
    top:0;
    right:-100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color:#BAACAE;
    width:400px;
    height:100vh;
    z-index:100;
    box-shadow:5px 5px 10px white;

}
.cart-active{
    right:0;
    transition: 0.5s;
}
.cart-title{
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
    color:#E00811;
    padding-bottom:6px;
    border-bottom: 1px solid grey;
}
.cart-box{
    display: grid;
    grid-template-columns: 29% 45% 20%;
    align-items: center;
    gap:1.2rem;
    margin-top:1.2rem;
    border-bottom: 1px solid black;
    padding-bottom:10px;

}
.cart-image{
    width:70px;
    height:70px;
    object-fit: cover;
    border: 1px solid black;
    padding: 3px;
}
.img-details{
    display: grid;
    row-gap: 10px;
}
.price-box{display:flex;
    justify-content: space-between;

}
.fa-trash{
    font-size:20px;
    color:#E00811;
    cursor: pointer;
}
.cart-box-title{
    font-size:1.4rem;
    color:#E00811;
    font-weight: 400;
    text-transform: uppercase;
    object-fit: cover;
    
}
.cart-price{
    font-weight: 400;
}
.quantity{
    border: 1px solid grey;
    outline: none;
    text-align: center;
    font-size: 1rem;
    width:2.4rem;
}
.total{
display:flex;
justify-content: flex-end;
margin-top:1.5rem;
}
.total-title{
font-size:1rem;
font-weight:400;
}
.total-price{
margin-left:1rem;
}
.btn{
padding:12px 18px;
background-color: black;
cursor: pointer;
color:white;
font-size: 1.2rem;
font-weight: 400;
}
.fa-xmark{
    position:absolute;
    top:0;
    right:0.8rem;
    font-size: 2rem;
    cursor: pointer;
}